# Directorios generados por Maven (compilación y empaquetado)
target/

# Archivos generados por IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Archivos de Maven
*.classpath
*.project
*.settings/

# Archivos generados por Maven para el proyecto
.mvn/

#Archivos de configuración de Claude
.claude
CLAUDE.md

# Base de datos H2 local (dev)
data/