# Directorios generados por Maven (compilación y empaquetado)
target/

# Archivos generados por IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Archivos de Maven
*.classpath
*.project
*.settings/

# Archivos generados por Maven para el proyecto
.mvn/

#Archivo de configuración de Claude
.claude